<p>residence works!</p>
<ul *ngFor="let r of listResidences">
    <li>
        {{r.name}}
        <img src="{{r.image}}" alt="image" width="200">
        <div [ngSwitch]="r.status">
            <p *ngSwitchCase="'Disponible'"> Status : ✅</p>
            <p *ngSwitchCase="'Vendu'">Status : ❌</p>
            <p *ngSwitchCase="'En Construction'">Status : 🛠️</p>
        </div>
        <button class="px-3 py-1 bg-green-500 rounded-md text-white" (click)="showloc(r.address)">show location</button>
        <button class="px-3 py-1 bg-indigo-500 ml-2 rounded-md text-white" (click)="Like(r)">Like</button>
    </li>
</ul>


<h2>Liste Favoris</h2>

<div *ngFor="let f of listFav">
    {{ f.name }}
</div>