<div id="defaultModal" tabindex="-1" aria-hidden="true"
    class="  justify-center items-center w-full md:inset-0 h-modal flex  md:h-[calc(100vh-70px)]   bg-gray-50">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto ">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 border-gray-300">
                <h3 class="text-lg font-semibold text-gray-900">
                    Add Product
                </h3>

            </div>
            <!-- Modal body -->
            <form (submit)="submit($event)" [formGroup]="formProduct">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
                        <input type="text" name="title" id="title"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 placeholder-gray-400"
                            formControlName="title" placeholder="title ...">
                        <p *ngIf="formProduct.get('title')?.invalid && formProduct.get('title')?.touched && formProduct.get('title')?.errors?.['required']"
                            class="text-red-500 text-xs ">Title is required</p>
                        <p *ngIf="formProduct.get('title')?.invalid && formProduct.get('title')?.touched && formProduct.get('title')?.errors?.['minlength']"
                            class="text-red-500 text-xs ">Title must be at least 4 characters</p>
                    </div>
                    <div>
                        <label for="brand" class="block mb-2 text-sm font-medium text-gray-900">image
                            url</label>
                        <input type="text" name="imgUrl" id="imgUrl"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 placeholder-gray-400"
                            placeholder="image url" formControlName="imgUrl">
                        <p *ngIf="formProduct.get('imgUrl')?.invalid && formProduct.get('imgUrl')?.touched && formProduct.get('imgUrl')?.errors?.['required']"
                            class="text-red-500 text-xs ">Image url is required</p>
                        <p *ngIf="formProduct.get('imgUrl')?.invalid && formProduct.get('imgUrl')?.touched && formProduct.get('imgUrl')?.errors?.['minlength']"
                            class="text-red-500 text-xs ">Image url must be at least 4 characters</p>

                    </div>
                    <div>
                        <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Price</label>
                        <input type="number" name="price" id="price"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 placeholder-gray-400"
                            placeholder="$2999" formControlName="price">
                        <p *ngIf="formProduct.get('price')?.invalid && formProduct.get('price')?.touched && formProduct.get('price')?.errors?.['required']"
                            class="text-red-500 text-xs ">Price is required</p>
                        <p *ngIf="formProduct.get('price')?.invalid && formProduct.get('price')?.touched && formProduct.get('price')?.errors?.['pattern']"
                            class="text-red-500 text-xs ">Price must be a number</p>

                    </div>
                    <div>
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900">Quantity</label>
                        <input type="number" name="quantity" id="quantity"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 placeholder-gray-400"
                            placeholder="quantity" formControlName="quantity">
                        <p *ngIf="formProduct.get('quantity')?.invalid && formProduct.get('quantity')?.touched && formProduct.get('quantity')?.errors?.['required']"
                            class="text-red-500 text-xs ">Quantity is required</p>
                        <p *ngIf="formProduct.get('quantity')?.invalid && formProduct.get('quantity')?.touched && formProduct.get('quantity')?.errors?.['pattern']"
                            class="text-red-500 text-xs ">Quantity must be a number</p>

                    </div>
                    <div class="sm:col-span-2">
                        <label for="description"
                            class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                        <textarea id="description" rows="4"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 placeholder-gray-400"
                            placeholder="Write product description here" formControlName="description"></textarea>
                        <p *ngIf="formProduct.get('description')?.invalid && formProduct.get('description')?.touched && formProduct.get('description')?.errors?.['required']"
                            class="text-red-500 text-xs ">Description is required</p>
                        <p *ngIf="formProduct.get('description')?.invalid && formProduct.get('description')?.touched && formProduct.get('description')?.errors?.['minlength']"
                            class="text-red-500 text-xs ">Description must be at least 20 characters</p>

                    </div>
                </div>
                <button type="submit"
                    class="disabled:opacity-50 disabled:cursor-not-allowed text-white inline-flex items-center bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                    [disabled]="formProduct.invalid">
                    <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                    Add new product
                </button>
            </form>
        </div>
    </div>
</div>